<!DOCTYPE html>
<html lang="en">
	<head>
		#include("layout/common.html")
	</head>
	<body>
		<!-- 顶部开始 -->
		<div class="container">
			<div class="logo">
				<a href="/">在线考试系统</a>
			</div>
			<div class="left_open">
				<i title="展开左侧栏" class="iconfont">&#xe699;</i>
			</div>
			<ul class="layui-nav right" lay-filter="">
				<li class="layui-nav-item">
					<a href="javascript:;">#(user.username??)</a>
					<dl class="layui-nav-child">
						<!-- 二级菜单 -->
						<dd>
							<a onclick="WeAdminShow('个人信息','/userInfo/load?userId=#(user.id??)')">个人信息</a>
						</dd>
						<dd>
							<a class="loginout" href="/logout">退出</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<!-- 顶部结束 -->
		<!-- 中部开始 -->
		<!-- 左侧菜单开始 -->
		<div class="left-nav">
			<div id="side-nav">
			    #if(!user.role.isAdmin() || !user.role.isTeacher())
				<ul id="nav">
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6b8;</i>
							<cite>成绩管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="/score/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>成绩列表</cite>
								</a>
							</li>
						</ul>
					</li>
			     #end	
			     #if(user.role.isTeacher() || user.role.isAdmin())	
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6b8;</i>
							<cite>试题管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="/question/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>试题列表</cite>
								</a>
							</li>
						</ul>
					</li>
				#end	
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe705;</i>
							<cite>试卷管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
					#if(user.role.isTeacher() || user.role.isAdmin())		
						<ul class="sub-menu">
							<li>
								<a _href="/paper/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>试卷列表</cite>
								</a>
							</li>
					#end
							<li>
								<a _href="/test/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>答卷</cite>
								</a>
							</li>
						</ul>
					</li>
					#if(user.role.isAdmin())
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe726;</i>
							<cite>用户管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="/user/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>用户列表</cite>
								</a>
							</li>
							<li>
								<a _href="/role/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>角色列表</cite>
								</a>
							</li>
							<li>
								<a _href="/access/list">
									<i class="iconfont">&#xe6a7;</i>
									<cite>日志列表</cite>
								</a>
							</li>
						</ul>
					</li>
					#end
				</ul>
			</div>
		</div>
		<!-- <div class="x-slide_left"></div> -->
		<!-- 左侧菜单结束 -->
		<!-- 右侧主体开始 -->
		<div class="page-content">
			<div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
				<ul class="layui-tab-title" id="tabName">
					<li>我的桌面</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<iframe src='/welcome' frameborder="0" scrolling="yes" class="weIframe"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content-bg"></div>
		<!-- 右侧主体结束 -->
		<!-- 中部结束 -->
		<!-- 底部开始 -->
		<div class="footer">
			<div class="copyright">Copyright ©2018 exam system v1.0 All Rights Reserved</div>
		</div>
		<!-- 底部结束 -->
		<script type="text/javascript">
//			layui扩展模块的两种加载方式-示例
//		    layui.extend({
//			  admin: '{/}.././asset/common/js/admin' // {/}的意思即代表采用自有路径，即不跟随 base 路径
//			});
//			//使用拓展模块
//			layui.use('admin', function(){
//			  var admin = layui.admin;
//			});
			layui.config({
			  base: '/asset/common/js/'
			  ,version:true
			}).use('admin');
			layui.use(['jquery','admin'], function(){
				var $ = layui.jquery;
			});

		</script>
	</body>
	<!--Tab菜单右键弹出菜单-->
	<ul class="rightMenu" id="rightMenu">
        <li data-type="fresh">刷新</li>
        <li data-type="current">关闭当前</li>
        <li data-type="other">关闭其它</li>
        <li data-type="all">关闭所有</li>
    </ul>
</html>